<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Web Calendar</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@5.11.5/main.min.css">
    <link rel="stylesheet" href="{% static 'style.css' %}">

</head>
<body>
    <div class="container">
    <form id="inputForm">
    <div class="form-group mb-3">
        {% csrf_token %}
        <label class="form-control-lg" for="llama-input">Fill Your Calendar</label>
        <textarea type="text" class="form-control form-control-lg mb-2" id="llama-input" name="prompt" placeholder="Give me a prompt!"></textarea>
        <button id="submit" type="submit" class="btn btn-primary btn-lg">Submit</button>
    </div>
</form>
        <div class="btn-group" role="group" aria-label="View Options">
    <button id="monthViewBtn" type="button" class="btn btn-primary">Month View</button>
    <button id="weekViewBtn" type="button" class="btn btn-primary">Week View</button>
</div>
        <div id="calendar"></div>
    </div>
</body>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.min.js"></script>
<script src='https://cdn.jsdelivr.net/npm/fullcalendar@5.11.5/main.min.js'></script>
<script src="{% static 'schedule/calendar.js' %}"></script>
</html>
