<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Web Calendar</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@5.11.5/main.min.css">
    <link rel="stylesheet" href="{% static 'style.css' %}">

</head>
<body>
    <div class="container">
        <form>
          <div class="form-group">
            <label class="form-control-lg" for="llama-input">Fill Your Calendar</label>
            <textarea type="text" class="form-control form-control-lg mb-5" id="llama-input" placeholder="Give me a prompt!"></textarea>
          </div>
        </form>
        <div id="calendar"></div>
    </div>
</body>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.min.js"></script>
<script src='https://cdn.jsdelivr.net/npm/fullcalendar@5.11.5/main.min.js'></script>
<script src="{% static 'schedule/calendar.js' %}"></script>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        var calendarEl = document.getElementById('calendar');
        var calendar = new FullCalendar.Calendar(calendarEl, {
            initialView: 'dayGridMonth',
            events: [
              {
                "title": "Team Meeting",
                "start": "2023-10-21T10:00:00",
                "end": "2023-10-21T11:00:00"
              },
              {
                "title": "Lunch Break",
                "start": "2023-10-21T12:30:00",
                "end": "2023-10-21T13:30:00"
              },
            ]
        });

      calendar.render();
    });
</script>
</html>
